<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> Chat
            <div class="btn-group pull-right">
                <span id="status" class="label label-success"></span>
            </div>
        </div>
        <div class="panel-body" disabled>
            <ul id="chatfeed" class="chat">
               
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                <span class="input-group-btn">
                    <button class="btn btn-warning btn-sm" id="btn-chat">
                        Send
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>