@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div ng-app="chatboxmod">
        <div ng-view>
        </div>
    </div>
</div>

@section scripts{
    <script>
        (function () {
            'use strict';
            var app = angular.module('chatboxmod', ['ngRoute']);

            app.config(['$routeProvider', '$locationProvider',
            function ($routeProvider, $locationProvider) {
                $routeProvider
                    .when('/', {
                        templateUrl: '/partials/default.html',
                        controller: 'defaultcontroller'
                    })
                    .when('/chatbox', {
                        templateUrl: '/partials/chatbox.html',
                        controller: 'chatboxcontroller'
                    })
                $locationProvider.html5Mode(true);
            }]);

            app.controller("defaultcontroller", function ($scope) {
                $scope.header = "Omegle Clone";
                $scope.content = "Project aim to clone Omegle using ASP.NET Core, AngularJs and SignalR";
            });

            app.controller("chatboxcontroller", function ($scope, $interval) {
                var $roomName = '';
                var $connectionId = '';
                var $isLooking = false;
                var $timeStamp = new Date();

                $('#status').text("Connecting");

                var hub = $.connection.chatHub;

                //$.connection.hub.logging = true;

                hub.client.pending = function () {
                    $('#status').text("Looking for stranger");
                    $isLooking = true;
                }

                hub.client.matchFound = function (roomName) {
                    $isLooking = false;
                    $roomName = roomName;
                    $('#status').text("Connected");

                    $('#chatfeed').append('<li class="left clearfix">' +
                        '<div class="chat-body clearfix">' +
                            '<div class="header">' +
                                '<strong class="primary-font">Stranger Connected.</strong>' +
                         '</div></div></li>');
                }

                hub.client.receiveMessage = function (sender, message) {
                    var source = "Stranger";
                    if(sender === $connectionId){
                        source = "You";
                    }

                    $('#chatfeed').append('<li class="left clearfix">' + 
                        '<div class="chat-body clearfix">' +
                            '<div class="header">'+
                                '<strong class="primary-font">' + source + ':</strong>' + message +
                         '</div></div></li>');

                    $(".panel-body").animate({ scrollTop: $('#chatfeed').height() }, "slow");
                }

                hub.client.disconnect = function () {
                    $isLooking = true;

                    $('#chatfeed').append('<li class="left clearfix">' +
                        '<div class="chat-body clearfix">' +
                            '<div class="header">' +
                                '<strong class="primary-font">Stranger Disconnected.</strong>' +
                         '</div></div></li>');

                    hub.server.findChat();
                }

                hub.client.ping = function (date) {
                    var elapsed = new Date().getTime() - $timeStamp.getTime();
                    $('#ping').text("Ping: " + elapsed + "ms");
                }

                $.connection.hub.start().done(function () {

                    var tick = function () {
                        $timeStamp = new Date();
                        hub.server.ping();
                    }

                    $interval(tick, 1000);

                    hub.server.getConnectionId();
                    hub.server.findChat();
                });

                $("#btn-chat").click(function () {
                    if ($isLooking === false) {
                        hub.server.sendMessage($roomName, $("#btn-input").val());
                        $("#btn-input").val("");
                    }
                });

                $(document).keypress(function (e) {
                    if ($isLooking === false) {
                        if (e.which == 13) {
                            hub.server.sendMessage($roomName, $("#btn-input").val());
                            $("#btn-input").val("");
                        }
                    }
                });

                window.onbeforeunload = function (e) {
                    var message = "Are you sure you want to leave this page?",
                    e = e || window.event;
                    if (e) {
                        e.returnValue = message;
                    }
                    return message;
                };

                $(window).unload(function () {
                    hub.server.disconnectToRoom($roomName);
                    window.location = "/";
                });
            });

        })();
    </script>
}
